*

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    background-image: url(../afb/stemwijzerachtergrond.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-areas: 
    "header header header header"
    "formi formi formi formi"
    "footer footer footer footer";
    grid-template-rows: 2fr 2fr;
    column-gap: 7px;
    row-gap: 25px;
    
}

header{
    grid-area: header;
    background-color: #0D4074;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-top: 13px;
    height: 55px;
    border: solid rgb(41, 21, 74) 5px;
}

#formi{
    grid-area: formi;
    border: solid rgb(41, 21, 74) 5px;
    min-height: 40vh;
    width: 45vw;
    border-radius: 35px;
    background-color: #0D4074;
    color: white;
    text-align: left;
    grid-column: 3 ;
    grid-row: 1 / 3;
    margin-top: 150px;
    padding-bottom: 55px;
    padding-left: 25px;
    padding-right: 55px;
    
}

form{
    font-size: 15px;
    padding-top: 125px;
}

#bt{
    padding-top: 15px;
}

#txt{
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 25px;

}

footer{
    grid-area: footer;
    background-color: #0D4074;
    height: 10vh;
    border: solid rgb(41, 21, 74) 5px;
}